<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" >
<link rel="stylesheet" href="app.css" >
<link rel="stylesheet" href="result.css" >
</head>    
<body ng-app="JSApp" ng-controller="jsCoompiler" layout-margin>
   <div>
    <md-button  class="md-raised md-primary" ng-click="run()">Run</md-button>
    <md-button  class="md-raised md-primary" ng-click="download()">Download</md-button>
   </div>
    
    <div style="display: flex;" layout="row" layout-align="space-between center">
       <textarea  placeholder="HTLM..."></textarea>
       <textarea placeholder="CSS..."></textarea>
    </div>
    <div style="display: flex;" layout="row" layout-align="space-between center">
    <textarea placeholder="JS..."></textarea>
   <div style="width: 50%;height:43%;border: 1px solid darkgray;" ng-bind-html="html | to_trusted"></div>
    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="result.js"></script>
</body>    
</html>
